init-author-name=itsalimanuel
//registry.npmjs.org/:_authToken=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

@itsalimanuel:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
# 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
